<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Registration Key -->
    <add key="KeyNumber" value="0"/>
    <!-- font size -->
    <add key="FontSize" value ="8"/>
    <!-- Column Widths -->
    <add key="ColWidth0" value ="10"/>
    <add key="ColWidth1" value ="80"/>
    <add key="ColWidth2" value ="60"/>
    <add key="ColWidth3" value ="100"/>
    <add key="ColWidth4" value ="52"/>
    <add key="ColWidth5" value ="0"/>
    <add key="ColWidth6" value ="0"/>
    <add key="BillsColWidth0" value ="110"/>
    <add key="BillsColWidth1" value ="60"/>
    <add key="BillsColWidth2" value ="60"/>
    <!-- File Call Limit -->
    <add key="CallsLimit" value ="10000"/>
    <!-- Time of Last Call-->
    <add key="LastCall" value ="0"/>
    <!-- Font Style -->
    <add key="Font" value ="Tahoma"/>
    <add key="FontType" value ="Regular"/>
    <!-- Layout-->
    <add key="Layout" value ="List"/>
    <!-- Bill Settings -->
    <add key="Discount Price" value ="0"/>
    <add key="Normal Price" value ="0"/>
    <add key="Fee" value ="0"/>
    <add key="Call Fee" value ="0"/>
    <add key="Discount Minutes" value ="0"/>
    <add key="Special Numbers" value=""/>
    <add key="Special Numbers Not Included" value=""/>
    <add key="Free Numbers" value=""/>
    <add key="Number Of Free Minutes" value="0"/>
    <add key="Round Up" value="0"/>
    <add key="Bill Day" value="1"/>
    <add key="Evening CheckBox" value="false"/>
    <add key="Evening Price" value ="0"/>
    <add key="Evening Start" value ="00:00"/>
    <add key="Evening End" value ="00:00"/>
    <add key="Weekend CheckBox" value="false"/>
    <add key="Weekend Price" value ="0"/>
    <add key="Weekend Start Day" value ="0"/>
    <add key="Weekend Start" value ="00:00"/>
    <add key="Weekend End Day" value ="0"/>
    <add key="Weekend End" value="00:00"/>
    <add key="Time Unit" value="1"/>
  </appSettings>
</configuration>